h1{
    font-family: fantasy;
    font-size: 30px;
    font-weight: bolder;
    color:#09111B;
    text-align: center;
    padding-left: 5%;
}
span{
    font-family: 'Kumbh Sans', sans-serif;
    color: aliceblue;
}

